* {
  box-sizing:border-box;
  outline:none;
  border:none;
}

.line {
  border-bottom: 1px solid #dbdbdb;
  width: 258px;
  position: relative;
  left: 43px;
  top: 7px;
}
span {
  background-color: white;
  width: 70px;
  color: gray;
  font-size: 14px;
  display: inline-block;;
  position: relative;
  z-index: 10;
}